input[type="submit"] {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
}

input[type="search"] {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 45%;
}

form{
    text-align: left;
}

.search-date-container {
    display: flex;
    flex-direction: column;
}

.city-container {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.date-container p {
    margin: 0.5rem;
    text-align: center;
}