.weather-info h4 {
    font-weight: 400;
    margin: 0.5rem;
}

.weather-info h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
}

.weather-info p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-info .desc {
    text-transform: capitalize;
}

.weather-info .temperature {
    margin: 0;
    font-size: 4rem;
    font-weight: 400;
}

.weather-info .unit {
    margin: 0;
    font-size: 3rem;
    font-weight: 400;
}

.local-temp {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}